<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat Dyma</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/socket.js"></script>
    <script src="/javascripts/socket-room-display.js"></script>
    <script src="/javascripts/socket-chat-display.js"></script>
    <script src="/javascripts/socket-room-input.js"></script>
    <script src="/javascripts/socket-chat-input.js"></script>
    <script src="/javascripts/context-menu.js"></script>
  </head>
  <body class="d-flex flex-column">
    <div class="container-fluid flex-fill d-flex flex-column">
      <%- include('partials/topbar.ejs', user) %>
      <div class="container-fluid flex-fill d-flex flex-row">
        <%- include('partials/rooms') %> <%- include('partials/chat') %> <%-
        include('partials/users') %>
      </div>
    </div>
  </body>
</html>
